<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Shops</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div sec:authorize="isAuthenticated()">
    <p sec:authorize="hasAuthority('ADMIN')">Hello ADMIN!</p>
    <p sec:authorize="hasAuthority('USER')">Hello USER!</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    Authenticated username:
    <p sec:authentication="name"></p>
    Authenticated user roles:
    <p sec:authentication="principal.authorities"></p>
</div>
<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed table-bordered">
                <tbody>
                <tr>
                    <th sec:authorize="hasAuthority('ADMIN')">Обновить таблицу</th>
                    <th>Упорядочить по возрастанию скидки</th>
                    <th>Упорядочить по убыванию скидки</th>
                </tr>
                <tr>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <form method="post" th:action="@{/update}">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form method="get" th:action="@{/shops/orderByDiscount}">
                            <input type="submit" value="Order">
                        </form>
                    </td>
                    <td>
                        <form method="get" th:action="@{/shops/orderByDiscountDesc}">
                            <input type="submit" value="Order">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed table-bordered">
                <tbody>
                <tr>
                    <th align="center">Name</th>
                    <th align="center">Discount</th>
                    <th align="center">Image</th>
                    <th align="center">URL</th>
                    <th></th>
                </tr>
                <tr th:each="shop : ${shops}" th:action="@{/shops}">
                    <td th:text="${shop.name}"></td>
                    <td th:text="${shop.discount + ' ' + shop.label}"></td>
                    <td align="center">
                        <img th:src="${shop.image}">
                    </td>
                    <td>
                        <a th:href="${shop.pageOnTheSite}">Страничка сайта</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>